<html>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="my-0 mr-md-auto font-weight-normal">New VK</a>
    <nav class="my-2 my-md-0 mr-md-3">
      <a routerLink="/login">Вход</a>
      <a routerLink="/register">Регистрация</a>
    </nav>
  </div>
  <div class="form-container">
    <div class="form1">
      <form ngNativeValidate #form>
        <label>ВХОД</label>
        <br>
        <input name="login" type="text" placeholder="Login" [(ngModel)]="login" autocomplete="off" required>
        <br>
        <input name="password" type="text" placeholder="Password" [(ngModel)]="password"
               autocomplete="off" required>
        <br>
        <input type="submit" (click)="form.checkValidity()? checkForm()? goToVotes() : null : null" class="btn btn-info">
      </form>
    </div>
  </div>
</body>
</html>
